<style>@import url(css/eventForm.css);</style>

<form id="eventForm">
  <!-- ici health -->
 <!-- ici weather -->
  <h2 class="title_form">Ajouter un événement</h2>
  <div>
    <label>
      <input
        id="date"
        type="date" 
        placeholder="Date"
      />
    </label>
  </div>
  <div>
    <label>
      <input 
        id="time"
        type="text" 
        placeholder="Temps" 
      />
    </label>
  </div>
  <div>
    <label>
      <input
        id="trainingType"
        type="text"
        placeholder="Type d'entrainement"
      />
    </label>
  </div>
  <div>
    <label>
      <input
        id="weight"
        type="text" 
        placeholder="Poids" 
      />
    </label>
  </div>
  <div>
    <button onclick="addEvent(event)">Valider</button>
  </div>
</form>

<script>
  async function addEvent(event) {
    event.preventDefault();
    
    const date = document.querySelector('#eventForm #date');
    const time = document.querySelector('#eventForm #time');
    const trainingType = document.querySelector('#eventForm #trainingType');
    const weight = document.querySelector('#eventForm #weight');
    
    const formData = {
      date: date.value,
      time: time.value,
      trainingType: trainingType.value,
      weight: weight.value,
      userId: localStorage.getItem('userId'),
    }

    const { data } = await axios.post(`${base_url}/event`, formData);
    console.log(data);
    window.location.reload();

    date.value = '',
    time.value = '',
    trainingType.value = '',
    weight.value = ''

  };
  
  
</script>

<style>

</style>

