<form id="formRegister">
  <div>
    <label>
      <input
        id="firstname"
        name="firstname"
        type="text" 
        autocomplete="off"
        placeholder="Prénom"
      >
    </label>
  </div>
  <div>
    <label>
      <input
        id="lastname" 
        name="lastname"
        type="text" 
        placeholder="Nom"
      >
    </label>
  </div>
  <div>
    <label>
      <input
        id="email"
        onclick="clearInputEmail()" 
        type="text" 
        autocomplete="off"
        placeholder="Email"
      >
    </label>
  </div>
  <div>
    <label>
      <input
        id="password" 
        onclick="clearInputPassword()" 
        type="password" 
        placeholder="Mot de passe"
      >
    </label>
  </div>
  <p onclick="turnTypePassword()">icon ici pour déverouiller password</p>
  <p class="displayError"></p>
  <button onclick="register(event)">S'enregistré</button>
</form>

<script>
  function register(event) {
    event.preventDefault();
  }
</script>



<style>
  #formRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  opacity: 0;
}

#formRegister input {
  border: none;
  display: block;
  width: 300px;
  padding: 0.5rem 0 0.5rem 1rem;
  margin: 0.5rem auto;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  /* color: rgb(90, 131, 138); */
  outline: none;
  border-radius: 10px;
  mix-blend-mode: color-dodge;
}

#formRegister button {
  width: 310px;
  border: none;
  border-radius: 50px 10px;
  margin: 2rem auto;
  padding: 0.5rem 0;
  box-shadow: 1px 1px 2px #e98425;
  background: #ffa84c;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

.error {
  color: red!important;
}

</style>