



  <td>
    <i onclick="updateEvent()" class="check-icon far fa-check-square"></i>
    <input
      id="date"
      type="text" 
      value=""
      onfocus="changeTypeToDate();"
    >
  </td>
  <td>
    <input 
      id="time"
      type="text" 
      value=""
      onfocus="clearInputTime()"
    >
  </td>
  <td>
    <input
      id="trainingType"
      type="text" 
      value=""
      onfocus="clearInputTrainingType()"
    >
  </td>
  <td>
    <input
      id="weight"
      type="text" 
      value=""
      onfocus="clearInputWeight()"
    >
  </td>

  <script>

    const date = document.querySelector('.modalEditEvent #date');
    const time = document.querySelector('.modalEditEvent #time');
    const trainingType = document.querySelector('.modalEditEvent #trainingType');
    const weight = document.querySelector('.modalEditEvent #weight');

    let formEventActived = false;
    let _id = '';

    async function editEvent(event) {

      console.log("event cliqué => ", event)

      _id = event._id;

      const day = new Date(event.date).getDate();
      const month = new Date(event.date).getMonth() + 1;
      const year = new Date(event.date).getFullYear();

      date.type = "text";

      date.value = `${day}-${month}-${year}`;
      time.value = event.time;
      trainingType.value = event.trainingType;
      weight.value = event.weight;

      
     if (!formEventActived) {
      let tween = gsap.fromTo(".modalEditEvent", {
        opacity: 0,
        y: -5,
      }, {
        opacity: 1,
        y: 0,
        ease: "expo.out",
      })
      formEventActived = true;
     } 


    };

    
    async function updateEvent() {

      formEventActived = false;

      let tween = gsap.fromTo(".modalEditEvent", {
        opacity: 1,
        y: 0,
      }, {
        opacity: 0,
        y: -5,
        ease: "expo.out",
      })
      

      const formData = {
        date: date.value,
        time: time.value,
        trainingType: trainingType.value,
        weight: parseInt(weight.value, 10),
        userId: localStorage.getItem('userId'),
      }

      console.log(formData);

      const { data } = await axios.put(`${base_url}/event/${_id}`, formData);
      console.log(data)
      setTimeout(() => {
        // window.location.reload();
      }, 100)
   
    };

    async function removeEvent(event) {
      console.log(event)
    }

 
    const changeTypeToDate = () => date.type = "date";
    const clearInputTime = () => time.value = "";
    const clearInputTrainingType = () => trainingType.value = "";
    const clearInputWeight = () => weight.value = "";

  
  </script>


<style>
  /* ------------- MODAL EDIT EVENT ----------- */
.modalEditEvent {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid rgb(18, 153, 153);
  border-bottom: 1px solid rgb(18, 153, 153);
  opacity: 0;
}

.modalEditEvent input {
  outline: none;
  background: rgb(41, 55, 56);
  color: rgb(193 236 235);
  border: none;
  text-align: center;
  width: 100%;
  border: 1px solid grey;
  border-top: none;
  border-bottom: none;
  padding: 0;
}

.modalEditEvent .check-icon {
  color: rgb(18, 153, 153);
  position: absolute;
  transform: translateX(-1rem);
  font-size: 0.9rem;
  line-height: 1.4rem;
  cursor: pointer;
}


</style>
