<style>@import url(css/weather.css);</style>

<div class="weather">
  <h2 class="weather-name">weather.cityName</h2>
  <img :src="weather.image" :alt="weather.description" class="weather-image">
  <div class="weather-temp">weather.temperature °</div>
  <div class="weather-description">weather.description </div>
  <div class="weather-windspeed">weather.windSpeed km/h</div>
</div>


<!-- <script>
  weather: {
        image: '',
        description: ''
      }
</script> -->



